@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  :root{
      --backgroud:#4D5A9E;
      --backgroudBody:#F5F5F5;
  }
  :root[class~="dark"]{
      --backgroud:#191772;
      --backgroudBody:#3F3847;
  }
} */